.loader-parent {
  padding: 5em;
  width: 200px;
  margin: auto;
  margin-top: 20em;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 20em;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  font-family: Lato, sans-serif;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  padding-bottom: 30em;
}

h1,
h2,
h3 {
  text-align: center;
}

.right {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.right > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.right > div > canvas {
  margin: auto;
}

.header {
  margin-top: 3em;
  margin-bottom: 1em;
}

.footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  /* border: 1px solid black; */
  padding: 2em;
  background-color: white;
  opacity: 85%;
  color: #ccc;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 2em;
  transition: 0.25s;
}

.footer input {
  color: #ccc;
  transition: 0.25s;
}

.footer button {
  opacity: 80%;
  transition: 0.25s;
}

.footer:hover {
  opacity: 100%;
  color: #222;
  background-color: white;
}

.footer:hover input {
  color: #222;
}

.footer:hover button {
  opacity: 100%;
}

input {
  width: 7em;
  margin: 0.2em;
  margin-right: 2em;
  border: 1px solid lightgray;
  padding: 0.2em;
}

label {
  margin: 0.2em;
  padding: 0.2em;
}

div#info {
  font-size: 0.8em;
  color: #444;
  width: 100%;
  text-align: center;
}
