body {
  font-family: Lato, sans-serif;
  background-color: #eee;
}
h1 {
  margin: 0;
  text-transform: capitalize;
}
h3 {
  margin: 0 0 1em 0;
  color: dimgray;
  font-weight: lighter;
  text-transform: capitalize;
}
div#body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.table {
  display: grid;
  grid-template-columns: auto 700px auto;
}
.table > .left,
.table > .bottom {
  display: grid;
  grid-template-columns: auto auto auto;
  color: grey;
}

.table > .left {
  writing-mode: vertical-lr;
  text-orientation: sideways;
  transform: rotate(-180deg);
}
.table > .canvas {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  width: 700px;
  height: 700px;
}
.table .text-left,
.table .text-mid,
.table .text-right {
  padding: 0.5em;
}
.table .text-left {
  text-align: left;
}
.table .text-mid {
  text-align: center;
  font-weight: bold;
}
.table .text-right {
  text-align: right;
}

fieldset#filters {
  display: grid;
  grid-template-columns: auto 3em auto;
}

fieldset#graphics {
  display: grid;
  grid-template-columns: auto auto;
}

fieldset#graphics > div,
fieldset#graphics > fieldset {
  display: grid;
  grid-template-columns: 1em auto;
}

div.filters {
    width: 732px;
    margin: 2em auto;
    padding: 0.7em 0;
    border: lightgray 1px solid;
  border-radius: 7px;
  background-color: white;
}


fieldset,
input,
input:active,
input:focus {
  padding: 0.6em;
  border: 0;
}

input {
    margin: 0.5em;
    border: lightgray 1px solid;
  border-radius: 7px;
}

label {
  padding: 0.6em;
  text-align: left;
  display: flex;
  align-items: center;
}

p {
    text-align: left;
    margin: 1.5em;
}

input:invalid {
  background-color: lightcoral;
}

div#vis {
  width: 732px;
  margin: auto;
}

form.vega-bindings {
    margin-top: 0.7em;
  padding: 0.6em;
  border: lightgray 1px solid;
  border-radius: 7px;
  background-color: white;
}

form.vega-bindings div label input {
  margin: 1em;
}
